<%= form_for(@restaurant, html: { multipart: true }) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :name, autofocus: true, placeholder: 'Name', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.text_field :address,placeholder: 'Address', class: 'form-control' %>
  </div>
  <div class="row">
  <div class="col-sm-12 col-md-6">
  <div class="form-group">
    <%= f.text_field :phone, placeholder: 'Mobile Number', class: 'form-control' %>
  </div>
  </div>
  <div class="col-sm-12 col-md-6">
  <div class="form-group">
    <%= f.text_field :website, placeholder: 'Website', class: 'form-control' %>
  </div>
  </div>
  </div>
  <div class="form-group">
    <%= f.file_field :image, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary btn-block' %>
  </div>
<% end %>