<div class="row">
<div class="col-sm-12 col-md-3">
  <%= image_tag @restaurant.image_url %>
  <p></p>

  <h2>
  <%= @restaurant.name %>
  </h2>
<p>
  <strong>Address:</strong><br>
  <%= @restaurant.address %>
</p>
<p>
  <strong>Phone:</strong><br>
  <%= @restaurant.phone %>
</p>
  <p>
  <strong>Website:</strong><br>
  <%= link_to @restaurant.website, @restaurant.website %>
   </p>
   <%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-link' %> |
<%= link_to 'Back', restaurants_path, class: 'btn btn-link' %>
</div>
<div class="col-sm-12 col-md-9">
<% if @reviews.blank? %>
  <h3>No reviews yet. Be the first to review!</h3>
  <%= link_to "Write a Review", new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>
<% else %>
<%= link_to "Write a Review", new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %> 
<p></p>
    <% @reviews.each do |review| %>
    <div class="panel panel-default">
    <div class="panel-body">
    <p><%= review.rating %></p>
    <p><%= review.comment %></p>
    </div>
    </div>
    <% end %>


<% end %>

</div>
</div>